# Temporary editor files
*.swp

# Altium Designer
__Previews
History
Project Logs*
Project Outputs*
*.NET
*.htm

# FEMM output
*.ans
*_distance.txt
sim/*/*.csv
sim/*/*.pdf
sim/*/*.png
sim/*/*.txt

# Code composer studio
Debug
Release
.xdchelp
.config
.launches
targetConfigs

# Code composer studio workspace
sw/.jxbrowser-data
sw/RemoteSystemsTempFiles

# Datasheets
datasheet/*/

# Measurement data
meas/*.csv
meas/*.log
meas/*.mat
meas/*.png
